* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 200px 3fr;
    grid-template-rows: 100px 5fr;
    grid-template-areas: 
        "aside header"
        "aside main";
    height: 100vh;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    background-color: rgb(123, 158, 123);
    color: black;
}

.icon {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 30px;
}

.navigation ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    padding-top: 30px;
}
.navigation li {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
    margin-bottom: 10px
}

.settings ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    padding-top: 40px;
}
.settings li {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
    margin-bottom: 10px;
}

main {
    grid-area: main;
    background-color: rgb(220, 220, 220);
}